__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
alembic/versions/
.idea/
.vscode/
*.log
*.db
*.DS_Store
*.egg-info/
/dist/
/build/
*.egg
*.bak
*.swp
*.swo
*.orig
*.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.coverage
.cache
node_modules/
